.albumsTable {
	width: 100%;
}

.albumsTable td {
	background : rgba(0, 0, 0, 0.4);
	border-style: solid;
	border-width: 1px;
	position: relative;
}

.albumInfo {
	display: inline-block;
}

.albumCover {
	width: auto;
	height: 5em;
	float: left;
}

.albumName {
	margin-left: 10px;
	margin-top: 15px;
	float: left;
}

.albumName>h3 {
	margin: 0;
	padding: 0;
	color : white;
}

.albumName>h4 {
	margin: 0;
	padding: 0;
	color : white;
}

h3 {
	font-size: 32pt;
}

.albumExpandButton {
	float: right;
	background: none;
	outline: 0;
	border: 0;
	width: 3em;
	height: 5em;
}

.albumExpand {
	position: absolute;
	height: 100%;
	width: 25px;
	right: 0;
}

.albumInfoDiv {
	background-color: white;
	width: 98%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.albumTagTable {
	border: 1px solid black;
	width: 100%;
	table-layout: fixed;
}

.albumTagTable > tr > td {
	border: 1px solid black;
	color: white;
}

.tagNameDiv {
	float: left;
	margin: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border: dashed 1px;
	border-radius: 5px;
	border: dashed 1px;
}

.tagAddButton {
	float: right;
}

.tagAddButtonDiv {
	float: right;
}

.searchTagTable {
	display: inline-block;
	table-layout: fixed;
	width: 90%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 0.3em;
	padding-bottom: 0.3em;
}

.searchTagTable td > input[type=text] {
	width: 99%;
}

.floatingHeader {
	position: fixed;
	border: 1px solid;
	top: 0;
	z-index: 1;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	width: 99%;
	left: 0.5%;
	background: rgba(0, 0, 0, 0.5);
}

#searchButton {
	
}

.searchBar {
	width: 90%;
	background: white;
	clear: both;
	position: relative;
	margin-bottom: 0.3em;
	border-radius: 0.2em;
	display: inline-block;
}

.searchBar>* {
	font-size: 42pt;
}

.searchBarIcon {
	width: 1em;
	height: 1em;
	vertical-align: text-bottom;
	margin-left: 0.3em;
}

.searchShowTagTable {
	font-size: 42pt;
	background: 0;
	border: 0px;
	outline: 0;
	width: 1em;
	height: 1em;
	vertical-align: text-bottom;
}

.searchBarInput {
	outline: 0;
	border: 0px solid;
	width: 80%;
}

.bannerDiv {
	margin-left: 1.2em;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.content {
	margin-top: 6em;
}

a {
	text-decoration: none;
	color: #000000;
}

body {
	background-image: url("../images/bg-repeat.png");
	background-repeat: repeat;
	font-size: 26pt;
}

input {
	font-size: 26pt;
}

input[type=text] {
	border-radius: 0.3em;
}

button {
	font-size: 26pt;
}

h3 {
	margin: 0;
}

.modalDiv {
	background-color: white;
	display: inline-block;
	margin-top: 25vh;
	padding: 25px;
	z-index: 3;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.herebutnothere {
	position: absolute;
	left: -9999px;
}