body {
	background-image: url("../images/bg-repeat.png");
	background-repeat: repeat;
}

.fullshow {
	opacity: 1 !important;
}

/* Sidebar */


.sidebar {
	position: fixed;
	left: 0;
	top: 3.2em;
	width: 150px;
	height: 100%;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.25);
}

.side_navbar {
	margin-top: 3em;
}

.side_navbar div {
	font-size: 16pt;
	width: 99%;
	height: 1.5em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
	text-align: center;
	cursor: pointer;
}

.side_navbar div:hover {
	background-color: rgba(255,255,255, 0.8);
}

.side_navbar div > span {
	margin-top: 0.2em;
	margin-left: 0.2em;
}

.side_optionbar {
	margin-top: 2em;
}

.side_optionbar div {
	font-size: 16pt;
	width: 99%;
	height: 1.5em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
}

/**/

.fullview_container {
	float: right;
	width: calc(99% - 150px);
	position: relative;
	margin-top: 1em;
}

.albumRow {
	width: 100%;
	height: 325px;
	margin: 0em 5px 5px;
	position: relative;
}

/* Searchbar */

.homeButton {
	position: absolute;
	top: 0.5em;
	left: 1em;
}

.searchMenu {
	position: fixed;
    width: 100%;
    height: 3.2em;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(255,255,255,0.1);
    border-bottom-right-radius: 10px;
    box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.1);
}

.searchBar {
	clear: both;
    position: relative;
    width: 98%;
    border-radius: 0.2em;
    margin: 0 1%;
    padding-bottom: 10px;
}

.searchBarInput {
	width: calc(99% - 1.7em - 1.7em)
}

.searchTagTable {
	table-layout: fixed;
	width: 100%;
	border-radius: 0.3em;
	padding-bottom: 0.3em;
	color: white;
}

.searchTagTable td > input[type=text] {
	width: 99%;
	font-size: 14pt;
	opacity: 1;
}

.searchBox {
	width: calc(99% - 100px);
    margin-left: 100px;
    margin-top: 10px;
}

.searchBox input[type=text] {
	border: none;
	font-size: 16pt;
	outline: none;
    padding: 2px 10px;
	transition: 1s;
	border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
	box-shadow: 3px 3px 8px rgba(80, 108, 142, 0.5);
	opacity: 0.5;
}

.searchBox input[type=image] {
	height: 1.7em;
	margin-left: 0.3em;
	padding: 0.2em;
	vertical-align: middle;
	outline: none;
    border-radius: 10px;
    transition: 1s;
	background: -webkit-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: -o-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: -moz-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
}

.searchBox input[type=text]:hover {
	box-shadow: 3px 3px 8px rgba(80, 108, 142, 0.8);
	opacity: 1;
}

.searchBox input[type=image]:hover {
  	background: radial-gradient(circle, rgba(80, 108, 142, 0.8), rgba(0, 0, 0, 0));
}

.searchTagTable input {
	border-radius: 3px;
}

.criteriaButton {
	width: 100%;
	margin: 0 auto;
}

/* Album Cell */

.albumCell_container {
	position: absolute;
	width: 100%;
}

.albumCell_box {
	width: 49%;
	height: 252px;
	position: absolute;
	top: 2.1em;
	background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    box-shadow: inset 0 -15px 20px 0px rgba(0,0,0,0.75), inset 0 5px 20px 0px rgba(0,0,0,0.75);
    border: 1px solid #000;
}

.albumCell_box_left {
	margin-left: 0.5em;
}

.albumCell_box_right {
	margin-right: 0.5em;
	right: 0;
}

.albumCell_name {
	position: absolute;
	font-size: 20pt;
	border-radius: 3px;
	overflow-x: hidden;
    box-shadow: -3px 3px 0px rgba(0,0,0,0.25);
}

.albumCell_nameBottom{
	top:10.9em;
	right: 0;
	text-align: right;
	width: 98%;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
	background: -webkit-linear-gradient(right,  rgb(155, 155, 156) 30%,rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: -o-linear-gradient(left, rgb(155, 155, 156) 30%,rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: -moz-linear-gradient(left, rgb(155, 155, 156) 30%,rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: linear-gradient(to left, rgb(155, 155, 156) 30%,rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
}

.albumCell_nameTop{
	top: 0;
	left: 0;
	width: 98%;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
	background: -webkit-linear-gradient(left, rgb(155, 155, 15) 30%, rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: -o-linear-gradient(right, rgb(155, 155, 156) 30%, rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: -moz-linear-gradient(right, rgb(155, 155, 156) 30%, rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
    background: linear-gradient(to right, rgb(155, 155, 156) 30%, rgb(155, 155, 156) 50%, rgba(0, 0, 0,0) 105%);
}

.albumCell_name span{
	margin-left: 40px;
	margin-right: 40px;
}

.cover_art {
	width: 176px;
	height: 252px;
    box-shadow: 4px 0px 5px rgba(0,0,0,0.25);
    z-index: 2;
}

.cover_art_left {
	margin-right: 1.55em;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cover_art_right {
	border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.albumCell_artbox {
	position: relative;
	display: inline-block;
	box-shadow: -7px 0px 5px rgba(0,0,0,0.25);
}

.albumCell_artbox_right {
	float: right;
}

.albumCell_subtitle {
	position: absolute;
	height: 253px;
	width: 1.7em;
	top: -1px;
    color: white;
    background-color: rgba(80, 80, 80, 0.5);
    overflow: hidden;
    z-index: 3;
	transition: 1s;
}

.albumCell_subtitle_text {
    position: absolute;
    top: 7.1em;
    width: 252px;
    text-align: center;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.albumCell_subtitle_text_left {
	left: -7em;
}

.albumCell_subtitle_text_right {
	right: -7em;
}

.albumCell_subtitle_left {
	left: 176px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.25);
}

.albumCell_subtitle_right {
    right: 176px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.albumCell_subtitle:hover {
    background-color: rgba(65, 105, 209, 1);
}

.albumCell_subtitle h4 {
	font-size: 16pt;
	margin: 0 1em;
}

.albumCell_infoBox {
	width: calc(100% - 176px - 2em);
	display: inline-block;
    top: 0;
    height: 252px;
    color: white;
    overflow: hidden;
}

.albumCell_description {
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 200px;
	overflow: auto;
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(0, 0, 0,1) 80%, rgba(79, 110, 197,0));
}

.albumCell_description::-webkit-scrollbar {
    width: 12px;
}
 
.albumCell_description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}
 
.albumCell_description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.albumCell_control_view {
	margin-left: 15px;
}

.albumCell_category_box {
	transition: 1s;
	position: absolute;
    width: 0px;
    height: 252px;
    background-color: rgba(70, 72, 73, 0.98);
    overflow: hidden;
}

.albumCell_category_box_left {
	left: 176px;
}

.albumCell_category_box_right {
	right: 176px;
}

.rollout {
	width: calc(100% - 176px - 2em);
    z-index: 3;
}

.rolloutSlider_left {
    left: calc(100% - 2em);
    background-color: rgba(65, 105, 209, 1);
}

.rolloutSlider_right {
    right: calc(100% - 2em);
    background-color: rgba(65, 105, 209, 1);
}

/* Category Table Stuff */

.albumTagTable {
	border: 1px solid black;
	width: 90%;
	table-layout: fixed;
	margin: 15px 10px;
}

.albumTagTable tr td {
	border: 1px solid black;
	color: white;
}

.tagNameDiv {
	float: left;
	margin: 5px;
	padding-left: 2px;
	padding-right: 2px;
	border: dashed 1px;
	border-radius: 5px;
	border: dashed 1px;
}

.album-add-tag-button {
	float: right;
	margin-left: 0.5em;
}

.addCategoryButton {
	margin-left: 15px;
}

/* Control Buttons*/

.albumControlButton {
	color: #d6d6d6;
	font-size: 16pt;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 4px 3px 5px rgba(0,0,0,0.25);
    background: rgb(17, 97, 191);
  	background: -webkit-radial-gradient(circle, rgb(80, 108, 142), rgb(117, 120, 130));
  	background: -o-radial-gradient(circle, rgb(80, 108, 142), rgb(117, 120, 130));
  	background: -moz-radial-gradient(circle, rgb(80, 108, 142), rgb(117, 120, 130));
  	background: radial-gradient(circle, rgb(80, 108, 142), rgb(117, 120, 130));
	transition: 1s;
}

.albumControlButton:focus {
	outline:0;
}

.albumControlButton:hover {
    box-shadow: 7px 7px 7px rgba(0,0,0,0.25);
    background: rgb(17, 97, 191);
  	background: -webkit-radial-gradient(circle, rgb(134, 150, 169), rgb(61, 118, 185));
  	background: -o-radial-gradient(circle, rgb(134, 150, 169), rgb(61, 118, 185));
  	background: -moz-radial-gradient(circle, rgb(134, 150, 169), rgb(61, 118, 185));
  	background: radial-gradient(circle, rgb(134, 150, 169), rgb(61, 118, 185));
}

.albumControlButton:active {
    box-shadow: inset 4px 3px 5px rgba(0,0,0,0.25);
}

.albumCell_controlsBox {
	margin-top: 30px;
	margin-right: 15px;
	margin-left: 15px;
}

/* Subalbum */
.albumCell_subalbum {
	position: absolute;
    background-image: url(../images/bg-repeat.png);
    background-repeat: repeat;
    left: 0;
    width: 100%;
    z-index: 20;
    border: 1px solid black;
}

/* Breadcrumbs */
.breadcrumbs {
	font-size: 16pt;
	color: #AAAAF3;
}

.breadcrumbs:hover {
	cursor: pointer;
	text-decoration: underline;
}

.left_chevon:after {
	content: '>';
	color: black;
	cursor: default;
}

.expand_chevron {
    height: 20px;
    position: absolute;
    top: 0;
    margin: auto 10px;
    bottom: 0;
}

.expand_chevron:hover {
	cursor: pointer;
}

.right0 {
	right: 0;
}

.left0 {
	left: 0;
}

/* Modals */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	z-index: 100;
}

.showDialog {
	opacity: 1;
	pointer-events: auto;
}

.closeModal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
}

.modalDiv {
	position: relative;
	display: inline-block;
	margin: 1em;
}

.modalFrame {
	position : fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40em;
	height: 20em;
	margin: auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}