.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.showDialog {
	opacity: 1;
	pointer-events: auto;
}

.modalFrame {
	text-align: center;
	margin-left:10px;
	margin-right:10px;
}

.modalImage {
	width : 100%;
}

.modalOpener {
	text-align: center;
}

.closeModal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
}

.navbuttonPrev {
	height: 100%;
	text-align: left;
	float: left;
}

.navbuttonNext {
	height: 100%;
	float: right;
	text-align: right;
	position: relative;
}

.modalButtonIcon {
	position: absolute;
	top: 45%;
	width: 70px;
}

.modalSvg {
	height: 68px;
	width: 38px;
}

.modalSvgLeft {
	margin-left: 25px;
}

.modalSvgRight {
	margin-right: 25px;
	margin-left: -25px;
}

.navbutton {
	opacity: 0.2;
	position: relative;
	width: 2.5em;
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	z-index: 3;
}

.navbutton:hover {
	opacity: 1;
}

.fullImage {
	position: absolute;
	margin: auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
}