#banner {
    background-color: #384046;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100vw;
    margin-top: -1em;
    margin-left: -1em;
    margin-bottom: 1em;
    z-index: 10;
}

#banner h1 {
    font-family: 'Arizonia', Helvetica, sans-serif;
    font-size: 42pt;
}

@keyframes showbanner {
    from {top: -11.5em; opacity: 0.2}
    to {top: -1px; opacity: 1}
}

@-webkit-keyframes showbanner {
    from {top: -11.5em; opacity: 0.2}
    to {top: -1px; opacity: 1}
}

@-moz-keyframes showbanner {
    from {top: -200px;}
    to {top: -1px;}
}

@-o-keyframes showbanner {
    from {top: -200px;}
    to {top: -1px;}
}

#bannerName {
    color: white;
    text-align: center;
    padding-top: 5px;
}

.scrolldown {
    position : fixed;
    top : -11.5em;
    opacity : 0.3;
}

.relativeStatic {
    position : static;
    top : 0px;
    opacity : 1;
}

.scrolldown:hover {
    opacity: 1;
    z-index: 999;
    animation-name: showbanner 1s forwards;
    -webkit-animation: showbanner 1s forwards;
    -moz-animation: showbanner 1s forwards;
    -o-animations: showbanner 1s forwards;
    top: -1px;
}

#bannerTable {
    text-align: center;
    width: 100%;
}

#bannerTable td {
    color: white;
    font-family: 'Oleo Script', Helvetica, sans-serif;
}

#bannerTable td:hover {
    background-color: #28308E;
    border-radius: 7px;
}

#bannerTable a {
    color: white;
    text-decoration: none;
}

#bannerFooter {
    text-align: center;
    padding-bottom: 15px;
}

.selectedPageBanner {
    background-color: #2D3338;
    border-radius: 7px;
}