<div id="createAlbumModal" ng-class="modalDialog">
	<div class="closeModal" ng-click="closeAlbumModal()"></div>
	<div class="modalFrame">
		<div class="modalDiv largeText">
			<h3>Create New Album</h3>
			<form id="createForm" method="POST" enctype="multipart/form-data" action="/PictureViewerWebServer/albums/create.do?${_csrf.parameterName}=${_csrf.token}">
				<input type="hidden" id="newAlbumParentId" name="parentId" value="0" />
	    		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

				<label for="albumName">Name</label>
				<input type="text" id="albumName" name="albumName" />
				<br />
				<label for="albumSub">Subtitle</label>
				<input type="text" id="albumSub" name="albumSub" />
				<br />
				<label for="newAlbumDescription">Description</label>
				<textarea rows="4" cols="50" id="newAlbumDescription" name="description" ></textarea>
				<br />
				<label for="uploadPhoto">Choose File</label>
				<input type="file" name="file">
				<br />
				<button type="submit" id="createButton">New Album</button>
			</form>
		</div>
	</div>
</div>