<td id="albumCell-{{album.id}}" class="albumCell">
	<div class="albumContent">
		<div class="albumInfo">
			<img ng-src="images/cover.do?albumid={{album.id}}" class="albumCover" />
			<a href="photos.do?albumId={{album.id}}">
				<div class="albumName">
					<h3>{{album.name}}</h3>
					<h4>{{album.subtitle}}</h4>
				</div>
			</a>
		</div>
		<input type="image" src="resources/images/expandButton.png" id="albumExpandButton-{{album.id}}"
			class="albumExpandButton" ng-click="albumExpand(album)" />
	</div>
	<div  id="albumExpand-{{album.id}}" class="albumExpanded" style="display:none;">
		<div id="albumTagInfo-{{album.id}}">
			<div id="albumDescription-{{album.id}}">{{album.description}}</div>
			<table class="albumTagTable">
				<tr ng-repeat="cate in album.categories">
					<td width="25%">
						<span>{{cate.category}}</span>
					</td>
					<td width="75%">
						<div class="tagNameDiv" ng-repeat="tag in cate.tags">{{tag.tagName}}</div>
						<button class="album-add-tag-button" ng-click="albumAddNewTag(album.id, cate)">+</button>
						<div id="albumExtraTag-{{album.id}}-{{cate.category}}" style="display:none;">
							<input class="more-tags-input" type="text" ng-model="cate.newTags">
							<button ng-click="albumSaveNewTag(album.id, cate)">Tag</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="albumOptions-{{album.id}}">
			<div id="albumNewCategoryOption-{{album.id}}" style="display: none;">
				<input id="albumExtraCategory-{{album.id}}" ng-model="cate.category">
				<button ng-click="albumAddNewCategory(album)">Add Category</button>
			</div>
			<button ng-click="albumShowAddNewCategory(album)">New Category</button>
			<button ng-click="showCreateAlbumModal(album.id)">New Album</button>
			<button ng-click="subscribeToAlbum(album.id)">Subscribe</button>
		</div>
		<table id="subAlbums-{{album.id}}" class="albumsTable">
			<tr ng-repeat="album in album.subalbums" ng-include="'albumTemplate.html'"></tr>
		</table>
	</div>
</td>