<td id="albumCell-{{album.id}}" class="albumCell">
	<div class="albumContent">
		<div class="albumInfo">
			<img ng-src="images/cover.do?albumid={{album.id}}" class="albumCover" />
			<a href="photos.do?albumId={{album.id}}">
				<div class="albumName">
					<h3>{{album.name}}</h3>
					<h4>{{album.subtitle}}</h4>
				</div>
			</a>
		</div>
		<input type="image" src="resources/images/expandButton.png" id="albumExpandButton-{{album.id}}" class="albumExpandButton" ng-click="expandAlbum(album)" />
	</div>
	<div class="albumExpanded">
		<div id="albumTagInfo-{{album.id}}" style="display:block;">
			<table class="albumTagTable">
				<tr ng-repeat="cate in album.categories">
					<td width="30%">{{cate.category}}</td>
					<td width="70%">
						<div class="tagNameDiv" ng-repeat="tag in cate.tags">{{tag.tagName}}</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="albumExpand-{{album.id}}"></div>
		<table id="subAlbums-{{album.id}}" class="albumsTable" style="display:block;">
			<tr ng-repeat="album in album.subalbums" ng-include="'albumTemplate.html'"></tr>
		</table>
	</div>
</td>