body {
    background-image: url(/PictureViewerWebServer/static/images/bg-repeat.png);
}

.no_link {
	text-decoration: none;
	color: black;
}

.fullshow {
	opacity: 1 !important;
}

.content_container {
}

/* Sidebar */


.sidebar {
	position: fixed;
	left: 0;
	top: 3.2em;
	width: 150px;
	height: 100%;
	background-color: #393b41;
	box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.25);
	z-index: 5;
}

.side_navbar {
	margin-top: 3em;
}

.side_navbar div {
	font-size: 16pt;
	width: 99%;
	height: 1.5em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	text-align: center;
	cursor: pointer;
}

.side_navbar div:hover {
	background-color: rgba(255,255,255, 0.8);
}

.side_navbar div > span {
	margin-top: 0.2em;
	margin-left: 0.2em;
}

.side_optionbar {
	margin-top: 2em;
}

.side_optionbar div {
	font-size: 16pt;
	width: 99%;
	height: 1.5em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.25);
}

/**/

.fullview_container {
	float: right;
	width: 99%;
	position: relative;
	margin-top: 1em;
}

.content {
	position: relative;
}


/* Searchbar */

.homeButton {
	position: absolute;
	top: 0.5em;
	left: 1em;
}

.searchMenu {
    position: fixed;
    width: 100%;
    height: 3.2em;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #393b41;
    box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.1);
}

.searchBar {
	clear: both;
    position: relative;
    width: 98%;
    border-radius: 0.2em;
    margin: 0 1%;
    padding-bottom: 10px;
}

.searchBarInput {
	width: calc(99% - 1.7em - 1.7em)
}

.searchTagTable {
	table-layout: fixed;
	width: 100%;
	border-radius: 0.3em;
	padding-bottom: 0.3em;
	color: white;
}

.searchTagTable td > input[type=text] {
	width: 99%;
	font-size: 14pt;
	opacity: 1;
}

.searchBox {
	width: calc(99% - 100px);
    margin-left: 100px;
    margin-top: 10px;
}

.searchBox input[type=text] {
	border: none;
	font-size: 16pt;
	outline: none;
    padding: 2px 10px;
	transition: 1s;
	border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid black;
	box-shadow: 3px 3px 8px rgba(80, 108, 142, 0.5);
	opacity: 0.5;
}

.searchBox input[type=image] {
	height: 1.7em;
	margin-left: 0.3em;
	padding: 0.2em;
	vertical-align: middle;
	outline: none;
    border-radius: 10px;
    transition: 1s;
	background: -webkit-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: -o-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: -moz-radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
  	background: radial-gradient(circle, rgba(80, 108, 142, 0.5), rgba(0, 0, 0, 0));
}

.searchBox input[type=text]:hover {
	box-shadow: 3px 3px 8px rgba(80, 108, 142, 0.8);
	opacity: 1;
}

.searchBox input[type=image]:hover {
  	background: radial-gradient(circle, rgba(80, 108, 142, 0.8), rgba(0, 0, 0, 0));
}

.searchTagTable input {
	border-radius: 3px;
}

.criteriaButton {
	width: 100%;
	margin: 0 auto;
}