/* Modals */
.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(0, 0, 0, 0.8);
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	z-index: 100;
}

.showDialog {
	opacity: 1;
	pointer-events: auto;
}

.closeModal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
}

.modalDiv {
	position: relative;
	display: inline-block;
	margin: 1em;
}

.modalFrame {
	position : fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60%;
	height: 20em;
	margin: auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}