<html ng-app="albumViewApp">
<header>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Albums</title>
	<link rel="stylesheet" type="text/css" href="resources/css/albumView.css" />
	<link rel="stylesheet" type="text/css" href="albumFlow/resources/css/albumFlow.css" />
	<link rel="stylesheet" type="text/css" href="modals/css/modals.css" />
	<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../lib/angular.min.js"></script>
	<script type="text/javascript" src="albumFlow/scripts/albumFlow.js"></script>
	<script type="text/javascript" src="scripts/controller/albumController.js"></script>
	<script>
		PageConfig = {
			userControls : ${userControls},
			searchUrl : ${searchUrl},
			fetchUrl : ${fetchUrl}
		};
	</script>
</header>
<body ng-controller="AlbumViewController">

	<!-- header -->
	<div style="margin-top:50px"></div>

	<!-- Full View -->
	<div class="content_container">
		<div>${ headerMessage }</div>
		<div class="fullview_container">
			<div class="breadcrumb">
				<span ng-repeat="subAlbum in albumPath" class="breadcrumbs" ng-class="{'left_chevon':!$last}" ng-click="expandSubalbumsPath(subAlbum.id, $index)">
					{{subAlbum.name}}
				</span>
			</div>
			<!-- Content -->
			<div id="contentMenu" class="content">
				<div id="albumListMenu">
					<div id="albumList" class="albumsTable" al-flow>
						<div id="albumId-{{album.id}}" class="albumCell"
							ng-class=" { flow_selected : $index == selectedIndex, 
								flow_right: $index > selectedIndex && $index <= selectedIndex + 1, flow_left: $index < selectedIndex && $index >= selectedIndex - 1,
								flow_right2: $index > selectedIndex + 1, flow_left2: $index < selectedIndex - 1 }"
							ng-repeat="album in albums" ng-include="'albumFlow/templates/albumFlowRowTemplate.html'"
							ng-click="selectAlbum($index)"></div>
					</div>
				</div>
			</div>
			<button ng-click="hideAlbumInfoPanel()">Hide Additional Info</button>
		</div>
	<div>

	<div class="user_options">
		<span ng-click="showCreateAlbumModal(0)">New Album</span>
	</div>


	<!-- Sidebar -->
	<div class="sidebar">
		<div class="side_navbar">
			<div>
				<span>Home</span>
			</div>
			<div>
				<a class="no_link" href="viewable.do"><span>All Albums</span></a>
			</div>
			<div>
				<a class="no_link" href="subscribed.do"><span>Subscriptions</span></a>
			</div>
			<div>
				<a class="no_link" href="user.do"><span>My Albums</span></a>
			</div>
		</div>
		<div class="side_optionbar" ng-show="userControls">
		</div>
	</div>

		<!-- Search Bar -->
	<div id="albumSearchMenu" class="searchMenu">
			<div class="searchBar">
				<div class="homeButton" >Home</div>
				<div class="searchBox">
					<input type="text" id="albumSearchInput" ng-model="search.name" ng-value="name" placeholder="Search" class="searchBarInput" />
					<input type="image" id="searchSubmit" value="Search" src="/PictureViewerWebServer/static/images/search-icon-hi.png" ng-click="submitSearch()" />
					<input type="image" id="addNewSearchCategory" src="/PictureViewerWebServer/static/images/menuBarIcon.png" value="Add Category Criteria" ng-click="showCriteria()" />
					<div id="searchAdditionalCriteria" style="display:none">
					<table id="searchTagTable" class="searchTagTable">
						<thead>
						  <tr>
						     <th width="30%">Category</th>
						     <th width="65%">Tags</th>
						     <th width="5%"></th>
						  </tr>
						 </thead>
						<tbody>
							<tr ng-repeat="cate in categories">
								<td>
									<input type="text" value="{{cate.category}}">
								</td>
								<td>
									<input type="text" value="{{cate.tags}}">
								</td>
								<td>
									<input type="button" ng-if="$index == 0" value="+" ng-click="addCriteria()" />
									<input type="button" ng-if="$index > 0" value="-" ng-click="minusCriteria($index)" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals -->
	<div ng-include="'modals/createAlbumModal/template/createAlbumModal.html'">

</body>
</html>